<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script>
        // var socket = io.connect('https://' + document.domain + ':' + location.port + '/date_time');
        // window.onload = function() {
        // var clock = document.getElementById("clock");
        // setInterval(() => {
        //     fetch("{{ url_for('time_feed') }}")
        //     .then(response => {
        //             response.text().then(t => {clock.innerHTML = t})
        //         });
        //     }, 1000);
        // }

    </script>
</head>
<body>

<div class="container" id="content">
    <div class="row">
        <h2>ABBOK</h2>
        <!--<span class="clock"></span>-->
        <p>Design and Technology</p>
        <p id="clock">Here will be date|time</p>
    </div>
</div>


</body>
</html>
